* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.header {
	background-color:#181818;
	opacity: .9999;
	text-align: center;
}

.headerContainer {
	padding:10px 10px;
	height: 50px;
	width:100vw;
}

.nav {
	font-size: 30px;
	padding:5px 10px;
	height:40px;
	color:white;
}

.name {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	color:white;
	font-size:30px;
	float:left;
}

.navBar {
	padding:0;
	margin:0 auto;
	width:450px;
}

.navButton {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	color:white;
	text-decoration:none;
	display: inline-block;
	margin:10px 30px;
}

.main {
	max-width: 1000px;
	margin:auto;
}


/*BIO SECTION*/


.hero {
	width:100vw;
	height:300px;
	max-width: 1000px;
}

.bio {
	height:2000px;
	overflow: scroll;
}

.bioMainHeader {
	text-align: center;
	margin-top:50px;
	color:#005ce6;
}

.bioContainer {
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	width:100%;
	margin-left: 10px;
	overflow: auto;
}

.bioContent {
	padding:100px 15px;
	width:85%;
	text-align: center;
	margin:auto;
	font-size:29px;
}

.coding,
.database,
.files {
	height:175px;
	width:175px;
	display: block;
	margin:auto;
}

.database {
	margin-top:20px;
	margin-bottom:20px;
}


/*BIO SECTION*/

/*PROJECT 4*/


.project4 {
	height:700px;
}

.project4MainHeader {
	margin-top:150px;
	margin-bottom: 100px;
	text-align: center;	
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	color:#005ce6;
}

.zephyrMediaContainer,
.project4Content {
	display: inline-block;
}

.zephyrMediaContainer {
	width:49%;
	text-align: center;
}

.zephyrMedia {
	width:95%;
	height:40%;
}

.zephyrMediaLinkButton {
	width:150px;
	border-radius: 5px;
	border:1px solid black;
	margin:10px;
}

.zMWrapper .zMText {
	visibility: hidden;
}

.zMWrapper:hover .zMText {
	visibility:visible;
}

.zephyrMediaLink {
	font-size:20px;
	color:black;
	text-decoration: none;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.zephyrMediaLink:hover {
	background:#005ce6;
	color:white;
}

.zephyrMedia,
.zephyrMediaLink {
	display:block;
}

.project4Content {
	width:50%;
	text-align: center;
}

.project4Text {
	font-size:27px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.project4Header {
	margin-top:100px;
	margin:50px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.project4Header,
.stackDiv {
	text-align: center;

}


/*PROJECT 4*/

/*PROJECT 3*/


.project3 {
	height:400px;
}

.project3MainHeader {
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	color:#005ce6;
}

.gymBuddyContainer,
.project3Content {
	display: inline-block;
}

.gymBuddyLinkButton,
.gymBuddyGHImg {
	display:block;
	margin:auto;
	margin-top:10px;
}

.gymBuddyLinkButton {
	width:150px;
	border-radius: 5px;
	border:1px solid black;
}

.gymBuddy,
.gymBuddyLink{
	display:block;
}

.gymBuddyGHImg {
	display:inline-block;
	margin-left:10px;
}

.fEWrapper .fEText {
	visibility: hidden;
}

.fEWrapper:hover .fEText {
	visibility:visible;
}

.bEWrapper .bEText {
	visibility: hidden;
}

.bEWrapper:hover .bEText {
	visibility:visible;
}

.fEWrapper,
.bEWrapper {
	display:inline-block;
}

.gymBuddyContainer {
	width:48%;
	text-align: center;
}

.gymBuddy {
	width:90%;
}

.gymBuddyLink {
	color:black;
	text-decoration: none;
	font-size:20px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.gymBuddyLink:hover {
	background:#005ce6;
	color:white;
}

.project3Content {
	width:50%;
	text-align: center;
}

.project3Text {
	font-size:27px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.project3Header {
	margin-top:100px;
	margin-bottom:50px;
}

.project3Header,
.stackDiv {
	text-align: center;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;	
}


/*PROJECT 3*/

/*PROJECT 2*/


.project2 {
	height:400px;
}

.project2MainHeader {
	margin-top:400px;
	margin-bottom: 100px;
	text-align: center;	
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	color:#005ce6;
}

.techUpContainer,
.project2Content {
	display: inline-block;
}

.techUpContainer {
	width:49%;
	text-align: center;
}

.techUp {
	width:95%;
	height:40%;
}

.tech-UpDemoButton {
	width:150px;
	border-radius: 5px;
	border:1px solid black;
	margin:10px;
}

.tUWrapper .tUText {
	visibility: hidden;
}

.tUWrapper:hover .tUText {
	visibility:visible;
}

.techUpLink {
	font-size:20px;
	color:black;
	text-decoration: none;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.techUpLink:hover {
	background:#005ce6;
	color:white;
}

.techUp,
.techUpLink {
	display:block;
}

.project2Content {
	width:50%;
	text-align: center;
}

.project2Text {
	font-size:27px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.project2Header {
	margin-top:100px;
	margin:50px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.project2Header,
.stackDiv {
	text-align: center;

}

/*PROJECT 2*/

/*PROJECT 1*/


.project1 {
	height:700px;
}

.project1MainHeader {
	margin-top:400px;
	margin-bottom: 100px;
	text-align: center;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	color:#005ce6;
}

.medicalContainer,
.project1Content {
	display: inline-block;
}

.medicalContainer {
	width:48%;
	text-align: center;
}

.medical {
	width:90%;
	height:40%;
}

.dFDemoButton {
	width:150px;
	border-radius: 5px;
	border:1px solid black;
	margin:10px;
}

.doctorFinderLink:hover{
	background:#005ce6;
	color:white;
}

.doctorFinderLink {
	display:block;
	font-size: 20px;
	color:black;
	text-decoration: none;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.project1Content {
	width:49%;
	text-align: center;
}

.project1Text {
	text-align: center;
	font-size:27px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.dFWrapper .dFText {
	visibility: hidden;
}

.dFWrapper:hover .dFText {
	visibility:visible;
}

.project1Header {
	margin-top:100px;
	margin-bottom:30px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.project1MainHeader,
.stackDiv {
	text-align: center;
}


/*PROJECT 1*/

/*FOOTER*/


.footer {
	text-align: center;
	height:70px;
	line-height: 70px;
	background:#005ce6;	

}

.github,
.email,
.linkedin {
	text-decoration: none;
	color:white;
	font-size: 20px;
	margin:25px;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

/*FOOTER*/


.HTML,
.CSS,
.JavaScript,
.JQuery,
.React,
.Mongoose,
.Node {
	width:35px;
	height:35px;
	margin:0px 5px;
}

.hidden {
	display:none;
}