* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.header {
	background-color:#181818;
	opacity: .9999;
}

.nav {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 30px;
	padding:5px 10px;
	height:40px;
	color:white;
}

.main {
	max-width: 1000px;
	margin:auto;
}


/*BIO SECTION*/


.hero {
	width:100vw;
	height:300px;
}

.bio {
	height:420px;
	overflow: scroll;
}

.bioContainer {
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	width:60%;
	font-size:29px;
	overflow: auto;
	margin-left: 10px;
}

.bioImages {
	width:39%;
	position:absolute;
}

.bioContainer,
.bioImages {
	display:inline-block;
}

.coding,
.database,
.files {
	width:120px;
	display: block;
	margin:auto;
}

.database {
	margin-top:20px;
	margin-bottom:20px;
}

.p2 {
	margin-top:30px;
}


/*BIO SECTION*/


/*PROJECT 3*/


.project3 {
	height:400px;

}

.project3MainHeader {
	margin:30px;
	text-align: center;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.gymBuddyContainer,
.project3Content {
	display: inline-block;
}

.gymBuddy,
.gymBuddyLink{
	display:block;
}

.gymBuddyContainer {
	width:48%;
	text-align: center;
	margin-left: 10px;
}

.gymBuddy {
	width:90%;
	height:40%;
}

.gymBuddyLink {
	color:black;
	text-decoration: none;
	font-size:20px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.project3Content {
	width:50%;
	text-align: center;
}

.project3Text {
	font-size:27px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.project3Header {
	margin:30px;
}

.project3Header,
.stackDiv {
	text-align: center;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;	
}


/*PROJECT 3*/

/*PROJECT 2*/


.project2 {
	height:400px;
}

.project2MainHeader {
	margin:30px;
	text-align: center;	
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.techUpContainer,
.project2Content {
	display: inline-block;
}

.techUpContainer {
	width:48%;
	text-align: center;
}

.techUp {
	width:90%;
	height:40%;
}

.techUpLink {
	font-size:20px;
	color:black;
	text-decoration: none;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.techUp,
.techUpLink {
	display:block;
}

.project2Content {
	width:49%;
	text-align: center;
}

.project2Text {
	font-size:27px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.project2Header {
	margin:30px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.project2Header,
.stackDiv {
	text-align: center;

}

/*PROJECT 2*/

/*PROJECT 1*/


.project1 {
	height:400px;
}

.project1MainHeader {
	margin:30px;
	text-align: center;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;	
}

.medicalContainer,
.project1Content {
	display: inline-block;
}

.medicalContainer {
	width:48%;
	text-align: center;
}

.medical {
	width:90%;
	height:40%;
}

.doctorFinderLink {
	font-size: 20px;
	color:black;
	text-decoration: none;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.project1Content {
	width:49%;
	text-align: center;
}

.project1Text {
	text-align: center;
	font-size:27px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.project1Header {
	margin:30px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.project1MainHeader,
.stackDiv {
	text-align: center;
}


/*PROJECT 1*/

/*FOOTER*/


.footer {
	text-align: center;
	height:70px;
	line-height: 70px;
	background:#606060;	

}

.github,
.email {
	text-decoration: none;
	color:black;
	font-size: 20px;
	margin:25px;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

/*FOOTER*/

.HTML,
.CSS,
.JavaScript,
.JQuery,
.React,
.Mongoose,
.Node {
	width:35px;
	height:35px;
	margin:0px 5px;
}

.hidden {
	display:none;
}