@media only screen and (max-width: 1000px) {
	.bioContainer {
		font-size:28px;
		margin-left:10px;
	}
}

@media only screen and (max-width: 900px) {
	.bioContainer {
		font-size:27px;
	}
}

@media only screen and (max-width: 770px) {
	.hero {
		width:100vw;
		height:250px;
	}

	.bioContainer {
		font-size:25px;
	}
}

@media only screen and (max-width: 680px) {
	.bioContainer {
		font-size:22px;
	}
}

@media only screen and (max-width: 530px) {
	.hero {
		width:100vw;
		height:200px;
	}

	.bioContainer {
		font-size:21px;
	}
}

@media only screen and (max-width: 475px) {
	.hero {
		width:100vw;
		height:150px;
	}
    .bio {
		height:430px;
		overflow: scroll;
	}

	.bioContainer {
		font-size:20px;
		width:100vw;
		margin:10px;
	}

	.bioImages {
		margin-left: 15px;
		width:100vw;
	}

	.bioContainer,
	.bioImages {
		display:block;
	}

	.coding,
	.database,
	.files {
		width:31%;
		display: inline;
		height:10%;
	}

	.database {
		margin-top:0px;
		margin-bottom:0px;
	}

	.p2 {
		margin-top:10px;
	}
}