@media only screen and (max-width: 1000px) {
	.hero {
		position:static;
	}
	.bioContainer {
		font-size:28px;
		margin-left:10px;
	}

	.project3Text {
		font-size:25px;
	}

	.project2Text {
		font-size:25px;
	}
}

@media only screen and (max-width: 900px) {
	.bioContainer {
		font-size:27px;
	}

	.project2Content {
		width:47%;
	}

	.project2Text {
		font-size:22px;
	}
}

@media only screen and (max-width: 825px) {
	.project3Text {
		font-size:22px;
	}

	.project2Text {
		font-size:21px;
	}
}

@media only screen and (max-width: 770px) {
	.hero {
		width:100vw;
		height:250px;
	}

	.project3Text {
		font-size:21px;
	}

	.project2Text {
		font-size:19px;
	}

	.project1Text {
		font-size:24px;
	}
}

@media only screen and (max-width: 715px) {
	.bio {
		height:430px;
	}

	.bioContainer {
		font-size:22px;
		width:100vw;
		margin:10px;
	}

	.bioImages {
		margin-left: 15px;
		width:100vw;
	}

	.bioContainer,
	.bioImages {
		display:block;
	}

	.coding,
	.database,
	.files {
		width:30%;
		display: inline;
		height:9%;
	}

	.database {
		margin-top:0px;
		margin-bottom:0px;
	}

	.p2 {
		margin-top:10px;
	}

	.project3MainHeader {
		margin-top:100px;
	}

	.project3 {
		height:680px;
	}

	.gymBuddyContainer,
	.project3Content {
		width:100vw;
		display: block;
	}

	.gymBuddy {
		width:70%;
		height:40%;
		position:relative;
		left:12%;
	}

	.project3Text {
		font-size:24px;
		margin-top:20px;
		margin-bottom: 20px;
	}

	.project2MainHeader {
		margin-top:80px;
	}
	.techUpContainer,
	.project2Content {
		width:100vw;
		display: block;
		position:absolute;
	}

	.techUp {
		width:70%;
		height:40%;
		position:relative;
		left:12%;
	}

	.techUp,
	.techUpLink {
		display:block;
	}

	.project2Text {
		font-size:24px;
		margin:20px;
		position:relative;
		top:300px;
	}

	.project2Tech {
		position:relative;
		top:300px;
	}

	.project1 {
		height:680px;
	}

	.project1MainHeader {
		margin-top:300px;
	}

	.medical {
		width:70%;
		height:40%;
		position:relative;
		left:12%;
	}

	.medical,
	.doctorFinderLink {
		display: block;
	}

	.doctorFinderLink {
		margin-bottom:30px;
	}

	.project1Header {
		margin:30px;
	}

	.medicalContainer,
	.project1Content {
		display: block;
		width:100vw;
	}
}

@media only screen and (max-width: 680px) {
	.bioContainer {
		font-size:22px;
	}

	.project2Text {
		font-size:22px;
	}

	.project2Text,
	.project2Tech {
		top:280px;
	}
}

@media only screen and (max-width: 620px) {
	.project2Text,
	.project2Tech {
		top:250px;
	}

	.project2 {
		height:400px;
	}
}

@media only screen and (max-width: 590px) {
	.project3MainHeader {
		margin-top:60px;
	}

	.project2Text {
		font-size:21px;
	}

	.project2 {
		height:350px;
	}
}

@media only screen and (max-width: 530px) {
	.hero {
		width:100vw;
		height:200px;
	}

	.bioContainer {
		font-size:21px;
	}

	.project3 {
		height:580px;
	}

	.project2MainHeader {
		margin-top:100px;
	}

	.project2Text,
	.project2Tech {
		top:220px;
	}

	.project2 {
		height:300px;
	}
}

@media only screen and (max-width: 475px) {
	.hero {
		width:100vw;
		height:150px;
	}

	.project3MainHeader {
		margin-top:100px;
	}

	.project2Text,
	.project2Tech {
		top:200px;
	}

	.project1Text {
		font-size:22;
	}

	.HTML,
	.CSS,
	.JavaScript,
	.JQuery,
	.React,
	.Mongoose,
	.Node {
		width:35px;
		height:35px;
		margin:0px;
	}
}

@media only screen and (max-width: 410px) {
	.project2MainHeader {
		margin-top:80px;
	}

	.project2Text,
	.project2Tech {
		top:190px;
	}
}

@media only screen and (max-width: 340px) {
	.project3MainHeader {
		margin-top:140px;
	}

	.project2MainHeader {
		margin-top:70px;
	}
}

@media only screen and (max-width: 320px) {
	.project3MainHeader {
		margin-top:150px;
	}

	.project2MainHeader {
		margin-top:60px;
	}

	.project2Text,
	.project2Tech {
		top:150px;
	}

	.project2 {
		height:330px;
	}
}