@media only screen and (max-width: 1000px) {
	.hero {
		position:static;
	}
	.bioContainer {
		font-size:28px;
		margin-left:10px;
	}

	.project3Text {
		font-size:25px;
	}

	.project2Text {
		font-size:25px;
	}
}

@media only screen and (max-width: 900px) {
	.bioContainer {
		font-size:27px;
	}

	.project2Text {
		font-size:22px;
	}
}

@media only screen and (max-width: 825px) {
	.bioContainer {
		font-size:26px;
	}

	.project4Text {
		font-size:22px;
	}

	.project3Text {
		font-size:22px;
	}

	.project2Text {
		font-size:21px;
	}
}

@media only screen and (max-width: 770px) {
	.navButton {
		margin:10px 10px;
	}

	.hero {
		width:100vw;
		height:250px;
	}

	.bioContent {
		font-size:25px;
		max-width:700px;
	}

	.project4Text {
		font-size:21px;
	}

	.project3Text {
		font-size:21px;
	}

	.project2Text {
		font-size:19px;
	}

	.project1Text {
		font-size:24px;
	}
}

@media only screen and (max-width: 715px) {
	.bio {
		height:2000px;
	}

	.bioMainHeader {
		font-size:30px;
	}

	.bioContainer {
		font-size:22px;
		width:100vw;
		margin:10px;
	}

	.bioContent {
		font-size:25px;
		max-width: 650px;
	}

	.bioContainer,
	.bioImages {
		display:block;
	}

	.coding,
	.database,
	.files {
		width:30%;
		height:9%;
	}

	.database {
		margin-top:0px;
		margin-bottom:0px;
	}

	.p2 {
		margin-top:10px;
	}

	.project4 {
		position:relative;
		height:1050px;
		margin:auto;
		width: 100%;
	}

	.project4Content {
		position:absolute;
		width:96vw;
		top:650px;
	}

	.zephyrMediaContainer {
		position:absolute;
		text-align: center;
		width:100vw;
	}

	.project4Content,
	.zephyrMediaContainer {
		display:block;
		margin:auto;
		text-align:center;
	}

	.project3MainHeader {
		margin-top:120px;
	}

	.project3 {
		height:680px;
	}

	.gymBuddyContainer,
	.project3Content {
		width:100vw;
		display: block;
	}

	.gymBuddy {
		width:70%;
		height:40%;
		position:relative;
		left:15%;
	}

	.project3Text {
		font-size:24px;
		margin-top:20px;
		margin-bottom: 20px;
	}

	.project2MainHeader {
		margin-top:500px;
	}

	/*Moved project 2 picture to match layout of other projects
	when in mobile format using position:absolute*/

	.techUpContainer,
	.project2Content {
		width:100vw;
		display: block;
		position:absolute;
	}

	.techUp {
		width:70%;
		height:40%;
		position:relative;
		left:12%;
	}

	.techUp,
	.techUpLink {
		display:block;
	}

	.project2Text {
		font-size:24px;
		margin:20px;
		position:relative;
		top:400px;
	}

	.project2Tech {
		position:relative;
		top:400px;
	}

	.project1 {
		height:680px;
	}

	.project1MainHeader {
		margin-top:700px;
	}

	.medical {
		width:70%;
		height:40%;
		position:relative;
		left:12%;
	}

	.medical,
	.doctorFinderLink {
		display: block;
	}

	.doctorFinderLink {
		margin-bottom:30px;
	}

	.project1Header {
		margin:30px;
	}

	.medicalContainer,
	.project1Content {
		display: block;
		width:100vw;
	}

	.dFDemoButton {
		height:30px;
	}

	.footer {
		margin-top:100px;
	}
}

@media only screen and (max-width: 680px) {
	.navButton {
		margin:10px 5px;
	}

	.bioContainer {
		font-size:22px;
	}

	.project2Text {
		font-size:22px;
	}

	.project2Text,
	.project2Tech {
		top:400px;
	}
}

@media only screen and (max-width: 620px) {
	.project4Content {
		top:600px;
	}

	.project2Text,
	.project2Tech {
		top:400px;
	}

	.project2 {
		height:400px;
	}
}

@media only screen and (max-width: 590px) {
	.name,
	.navBar {
		display:block;
		float:left;
	}

	.navButton {
		display:block;
		width:155px;
	}

	.project4Content {
		top:575px;
	}

	.project3MainHeader {
		margin-top:130px;
	}

	.project2Text {
		font-size:21px;
	}

	.project2 {
		height:350px;
	}
}

@media only screen and (max-width: 530px) {
	.hero {
		width:100vw;
		height:200px;
	}

	.bioContainer {
		font-size:21px;
	}

	.project3 {
		height:580px;
	}

	.project2Text,
	.project2Tech {
		top:350px;
	}

	.project2 {
		height:300px;
	}
}

@media only screen and (max-width: 475px) {
	.nav {
		font-size: 20px;
	}

	.hero {
		width:100vw;
		height:150px;
	}

	.project4Content {
		top:530px;
	}

	.project3MainHeader {
		margin-top:120px;
	}

	.project4Text,
	.project4Tech {
		top:200px;
	}

	.project2Text,
	.project2Tech {
		top:300px;
	}

	.project1Text {
		font-size:22;
	}

	.HTML,
	.CSS,
	.JavaScript,
	.JQuery,
	.React,
	.Mongoose,
	.Node {
		width:35px;
		height:35px;
		margin:0px;
	}
}

@media only screen and (max-width: 410px) {
	.bio {
		height:2100px;
	}

	.project4Content {
		top:500px;
	}

	.project2MainHeader {
		margin-top:550px;
	}

	.project2Text,
	.project2Tech {
		top:275px;
	}
}

@media only screen and (max-width: 340px) {
	.bio {
		height:2200px;
	}

	.project4Content {
		top:470px;
	}

	.project3MainHeader {
		margin-top:140px;
	}

	.project2MainHeader {
		margin-top:160px;
	}
}

@media only screen and (max-width: 320px) {
	.bio {
		height:2300px;
	}

	.project3MainHeader {
		margin-top:150px;
	}

	.project2MainHeader {
		margin-top:450px;
	}

	.project2Text,
	.project2Tech {
		top:200px;
	}

	.project2 {
		height:330px;
	}

	.github,
	.email,
	.linkedin {
		font-size: 18px;
		margin:10px;
	}
}